<!DOCTYPE html>
<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-radius: 10px;
            }
        </style>
    </head>
<body>
    <h1>
        Contact Best Cars
    </h1>
    <table>
        <tr>
          <th>Region</th>
          <th>Contact</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
        <tr>
            <td>North America (West)</td>
            <td>Joe West</td>
            <td>+1 800 111 2222</td>
            <td>joe_west@bestcardealers.net</td>
        </tr>
        <tr>
            <td>North America (East)</td>
            <td>Joe East</td>
            <td>+1 800 222 1222</td>
            <td>joe_east@bestcardealers.net</td>
        </tr>
      </table>
    </body>
</html>
